* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

header {
  position: sticky;
  top: 0px; }

.container-contac {
  display: flex;
  background-color: #3c5ca3;
  color: white;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  font-size: 15px; }
  .container-contac .phone {
    width: 1.5%;
    font-size: 15px; }
  .container-contac img {
    width: 2.5%;
    display: flex;
    justify-content: end;
    margin-left: 4%;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 5px; }
  .container-contac a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: end;
    margin-right: 10%; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: white;
  font-family: sans-serif; }
  .nav ul {
    display: flex;
    list-style: none; }
    .nav ul a {
      text-decoration: none;
      margin: 10px;
      color: #3c5ca3;
      padding-right: 25px; }

main h2 {
  background-color: #3c5ca3;
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 55px; }

main p {
  padding-left: 15px;
  font-size: 18px;
  padding-right: 15px; }

main h3 {
  color: #3c5ca3;
  padding: 15px; }

main h4 {
  padding-left: 15px; }

main section {
  margin-top: 75pxpx; }

.limpieza .tarjeta {
  background-color: white;
  margin-top: 20px;
  display: flex; }
  .limpieza .tarjeta h4 {
    font-size: 18px; }
  .limpieza .tarjeta p {
    font-size: 18px; }
  .limpieza .tarjeta img {
    width: 45%;
    margin-right: 30px; }

.limpieza h1 {
  background-color: #3c5ca3;
  color: white;
  text-align: center;
  padding: 25px; }
