* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

header {
  position: sticky;
  top: 0px; }

.container-contac {
  display: flex;
  background-color: #3c5ca3;
  color: white;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  font-size: 15px; }
  .container-contac .phone {
    width: 1.5%;
    font-size: 15px; }
  .container-contac img {
    width: 2.5%;
    display: flex;
    justify-content: end;
    margin-left: 4%;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 5px; }
  .container-contac a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: end;
    margin-right: 10%; }

nav {
  background-color: #ffffff;
  background-image: linear-gradient(90deg, #ffffff 0%, #84ccea 100%);
  height: 120px;
  width: 100%; }

.enlace {
  position: absolute; }

.logo {
  height: 110px; }

nav ul {
  float: right;
  margin-right: 20px;
  margin-top: 20px; }

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px; }

nav ul li a {
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase; }

li a.active, li a:hover {
  background: #0c9cdc;
  transition: .5s; }

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

main h2 {
  background-color: #3c5ca3;
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 55px; }

main p {
  padding-left: 15px;
  font-size: 18px;
  padding-right: 15px; }

main h3 {
  color: #3c5ca3;
  padding: 15px; }

main h4 {
  padding-left: 15px; }

main section {
  margin-top: 75pxpx; }

.limpieza img {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto; }

.limpieza h1 {
  background-color: #3c5ca3;
  color: white;
  text-align: center;
  padding: 25px; }

@media (max-width: 952px) {
  .enlace {
    padding-left: 20px; }
  nav ul li a {
    font-size: 16px; } }

@media (max-width: 858px) {
  .checkbtn {
    display: block; }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s; }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }
  nav ul li a {
    font-size: 20px; }
  li a:hover, li a.active {
    background: none;
    color: red; }
  #check:checked ~ ul {
    left: 0; } }
